body {
  background-color: rgb(204, 230, 207);
}

h3 {
  color: #090cd6;
  font-size: 2rem;
}

textarea {
  color: rgb(8, 223, 8);
  background-color : black;
  font-family: 'Press Start 2P';
  font-size: large;
  font-weight: 100px;
}

div.leftNav {
  float: left;
}

div.rightNav {
  float: right;
}

a {
  text-decoration: none;
  margin-right: 10px;
}