@import url('https://fonts.googleapis.com/css2?family=DotGothic16&family=Orbitron:wght@700&family=Press+Start+2P&family=Tourney:wght@300;600&display=swap');

@import 'prismjs/themes/prism.css';

body {
  background-color: rgb(204, 230, 207);
}

h3.algoName {
  color: #8b03a7;
  font-size: 1em;
  font-family: 'Press Start 2P';
  margin: 10px;
}

.textarea {
  padding: 10px;
  margin: 10px;
  width: 80%;
  color: rgb(8, 223, 8);
  background-color : black;
  span {
    background-color : black !important;
  }
  font-family: 'DotGothic16', sans-serif;
  font-size: large;
  font-weight: 100px;
}

div.leftNav {
  float: left;
  margin: 5px;
  font-family: 'Press Start 2P';
  font-size: xx-small;
  color: #551a8b;
}


div.rightNav {
  float: right;
  margin: 5px;
  font-family: 'Press Start 2P';
  font-size: 15px;
  color: #551a8b;
}

a {
  text-decoration: none;
  margin-right: 10px;
}

.tile-solved {
  background-color: lightgreen;
  display: flex;
  height: 12vh;
  min-height: 5em;
  color: #551a8b;
}

.tile-normal {
  background-color: white;
  display: flex;
  min-height: 5em;
  height: 12vh;
  color: #551a8b;
}

div.calendar {
  display: flex;
  justify-content: center;
  color: #551a8b;
}

.react-calendar {
  
}

.react-calendar__navigation {
  display: flex;
  height: 35px;
}

.react-calendar__navigation__arrow {
  background-color: white;
  width: 35px;
  border: 1px solid gray;
  border-radius: 5px;
  font-family: "Orbitron", sans-serif;
}

.react-calendar__navigation__label {
  max-width: 150px;
  font-size: 14px;
  background-color: white;
  border: 1px solid gray;
  border-radius: 5px;
  font-family: "Orbitron", sans-serif;
}

.react-calendar__month-view {
  font-family: "Orbitron", sans-serif;
}

.react-calendar__month-view__days {
  font-family: "Orbitron", sans-serif;
}

.react-calendar__tile {
  font-family: "Orbitron", sans-serif;
}

button.logoutButton {
  padding: 5px 15px;
  color: burlywood;
  background-color: darkslateblue;
  font-family: 'Press Start 2P';
  font-size: xx-small;
}

button.logoutButton:hover {
  color: darkslateblue;
  background-color: burlywood;
}

div.centerNav {
  // margin: 20px;
  justify-content: center;
  display: flex;
  font-size: xx-large;
  font-family: 'Tourney', cursive;
}

span.rightNav {
  margin: 10px;
}

h1.stats {
  color: #8b03a7;
  font-size: 2em;
  font-family: 'Orbitron', sans-serif;
}

.link{
  font-size: 15px;
  padding: 10px 15px;
  margin-right: 30px;
}

.link:hover{
  background-color: #551a8b;
  color: burlywood;
  transition-duration: .2s;
}

.test-untested {
  display: none;
  color: grey;
}
.test-success {
  color: rgb(8, 223, 8);
}
.test-failure {
  color: red;
}
.test-error {
  color: red;
  font-weight: bold;
}

.hidden {
  display: none;
}

#btn-test {
  padding: 10px;
  margin: 10px;
}

#btn-test:hover {
  color: darkslateblue;
  background-color: burlywood;
}